<h2>Even Cooler Blog</h2>

<ul class="post-list">
<% @posts.each do |post| %>
  <li>
    <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
    <ul class="tag-list">
    <% post.tags.each do |tag| %>
      <li class="tag"><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>